html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

nav {
    margin-bottom: 3rem;
}

tr {
    border-bottom: 1px solid #ddd;
}

th,td {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: whitesmoke;
}

li {
    float: left;
    min-width: 10rem;
}

.floatright {
    float: right;
}


li a{
    background-color: whitesmoke;
    box-sizing: border-box;
    min-width: 10rem;
    display: block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.searchbar {
    margin: 0;
    background-color: whitesmoke;
    box-sizing: border-box;
    min-width: 10rem;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    color: white;
    background-color: #111;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

nav {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul.navbar li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.smallMargin {
    margin: 0.5rem;
}

/* Buy button */

.button {
  background-color: white;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Green Button */

.greenButtonHover {
    border: 2px solid #04AA6D;
}

.greenButtonHover:hover {
  background-color: #04AA6D;
  color: white;
}

/* Red Button */

.redButtonHover{
    border: 2px solid #c93b30;
}

.redButtonHover:hover {
  background-color: #c93b30;
  color: white;
}

/* Black Button */

.blackButtonHover {
    border: 2px solid #242323;
}

.blackButtonHover:hover {
  background-color: #242323;
  color: white;
}

/* ---------- */

/* Details table */

.detailstable tr td:first-child {
    text-align: right;
    border-right: 1px solid #ddd;
}

.textcenter {
    text-align: center;
}

/* ---------- */


.main {
  width: 60%;
  float: left;
}

.side {
  width: 20%;
  float: left;
}

.side form {
    margin-top:5rem;
    margin-left:5rem;
}

.boldFont{
    font-weight:bold;
}

.register-container{
text-align: center;
padding: 3rem;
font-size: 2rem;
}

.register-container button{
padding: 2%;
background: black;
border-radius: 14%;
color: white;
}