html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

nav {
    margin-bottom: 3rem;
}

tr {
    border-bottom: 1px solid #ddd;
}

th,td {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: whitesmoke;
}

li {
    float: left;
    min-width: 10rem;
}

.floatright {
    float: right;
}


li a{
    background-color: whitesmoke;
    box-sizing: border-box;
    min-width: 10rem;
    display: block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.searchbar {
    margin: 0;
    background-color: whitesmoke;
    box-sizing: border-box;
    min-width: 10rem;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    color: white;
    background-color: #111;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

nav {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul.navbar li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.smallMargin {
    margin: 0.5rem;
}

/* Buy button */

.greenButton {
  background-color: white;
  border: 2px solid #04AA6D;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.greenButton:hover {
  background-color: #04AA6D;
  color: white;
}

/* ---------- */

/* Details table */

.detailstable tr td:first-child {
    text-align: right;
    border-right: 1px solid #ddd;
}

.detailsh1 {
    text-align: center;
}

/* ---------- */